ion-toolbar {
    --background: #ff3333;
    color: #f1f1f1;
    font-weight: bold
}
ion-title{
    text-align: center!important;
}
ion-button {
    --background:#ff3333;
    color:#f1f1f1;
}
// ion-content{
//     padding-top: 32px!important;
// }